/*css comunes de freelance*/
body,html{
	width: 100%;
	height: 100%;
}
::selection {
    background: #00CCa3;
    color: #fff;
}
::-moz-selection {
    background: #00CCa3;
    color: #fff;
}
.hero-image{
	width: 100%;
	padding: 15% 0% 11%;
	color: #fff;
}
header{
	background-color:#3C3C3B;
	color: #fff;
	text-transform: uppercase;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	padding: 3px 0px;
}
.navbar{
	border-radius: 0;
}
.portfolio{
	text-align: center;
}
.navbar-brand img{
	width: 30%;
	padding: 0;
	margin: 0;
}

.collapse img{
	width: 40px;
	height: 40px;
}
.navbar-brand {
    float: left;
   padding: 18.5px 15px;
    font-size: 19px;
    line-height: 21px;
    height: 60px;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    margin-bottom: -17px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.navbar{
	margin-bottom: 0 !important;
}
.menu-sm a{
	display: inline-block;	
	padding: 10px;
	margin: 10px 5px;
	color: #fff;
}
/*menu desplegable*/
.navbar .icon-bar {
  background: #fff;
}
.navbar .navbar-right{
  margin-left: 5px;
}
.navbar-nav>li{
	display: block;
}
.title h2,
.portfolio h2,
.about h2,
.contact h2,
.location h4,
.feature h2,
article h2{
	text-transform: uppercase;
	font-weight: 700;
}
.title i,
.portfolio i,
.about i{
  margin: 5px;
  font-size: 22px;
}
.title{
	text-align: center;
}
.title h2{
	font-size: 52px;
}
.bar{
	width: 80px;
	border: 2px solid #fff;
	display: inline-block;
	margin-bottom: 5px;
}
img{
	width: 100%;
}
hr{
	margin: 0!important;
}
/*css del contact me*/
.contact input{
	border: none;
}
.textarea{
	padding: 20px 15px 50px;
}
.contact button{
	margin-top: 2%;
	margin-left: 3%;
	background-color: #00CCa3;
	border-color: #00CCa3;
}
.contact button:hover{
	background-color: #006652;
	border-color: #006652;
}
.location{
	background-color: #33334c;
	color: white;
}
.red-social i{
	margin: 5px;
	padding: 10px 4%;
	border-radius: 100%;
	border: 2px solid #fff;
}
.red-social i:hover{
	background-color: #fff;
	color: #2c3e50;
}
footer{
	background-color: #2c3e50;
	color: #fff;
	padding: 1% 0%;
}
/*utilities*/
.pt-5{
	padding-top: 5%;
}
.pb-5{
	padding-bottom: 5%;
}
.pt-2{
	padding-top: 2%;
}
.pb-2{
	padding-bottom: 2%;
}
.pd{
	padding: 0% 20%;
}
.pl-10{
	padding-left: 10%;
}
.pr-10{
	padding-right: 10%;
}
@media (max-width: 768px){
	h1,h2,h3,h4,h5,a.logo{
		font-size: 1.5em;
	}
	.title h2{
		font-size: 2.2em;
	}
	header{
		padding: 0!important;
	}
	.portfolio,.contact {
		padding-top: 50px;
	}
}
@media (max-width: 600px){
	.title img{
		width: 25%;
		margin-top: 20px;
	}
	.portfolio,.contact {
		padding-top: 50px;
	}
}