* {
	font-family: 'Josefin Sans';
}

/*css comunes de freelance*/
body,html{
	width: 100%;
	height: 100%;
}
::selection {
    background: #00CCa3;
    color: #fff;
}
::-moz-selection {
    background: #00CCa3;
    color: #fff;
}
.hero-image{
	width: 100%;
	padding: 15% 0% 11%;
	color: #fff;
}
header{
	background-color:#3C3C3B;
	color: #fff;
	text-transform: uppercase;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	padding: 3px 0px;
}
.navbar{
	margin-bottom: 0 !important;
}
.navbar-default .navbar-collapse{
    padding: 2%;
}
.menu-sm a{
	display: inline-block;	
	padding: 10px;
	margin: 10px 5px;
	color: #fff;
}
