.navbar{
	border-radius: 0;
}
.portfolio{
	text-align: center;
}
.navbar-brand img{
	width: 30%;
	padding: 0;
	margin: 0;
}

.collapse img{
	width: 40px;
	height: 40px;
}
.navbar-brand {
    float: left;
   padding: 18.5px 15px;
    font-size: 19px;
    line-height: 21px;
    height: 60px;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    margin-bottom: -17px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.requisitos{
    background-color: grey;
    padding:5%;
}
.requisitos h1{
    color: white;
}