.navbar{
	border-radius: 0;
}
.portfolio{
	text-align: center;
}
.navbar-brand img{
	width: 30%;
	padding: 0;
	margin: 0;
}

.collapse img{
	width: 40px;
	height: 40px;
}
.navbar-brand {
    float: left;
   padding: 18.5px 15px;
    font-size: 19px;
    line-height: 21px;
    height: 60px;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    margin-bottom: -17px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.requisitos{
    background-color: grey;
    padding:5%;
}
.requisitos h1{
    color: white;
}

.espacio {
    padding: 5%;
}

/* barra */

html {
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: inherit;
}

/**
 * Ordered list wrapper
 * 1. Prevents ugly shapes when selecting .steps
 * 2. Initializing counter
 */
/*ol*/
.steps {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* 1 */
  counter-reset: steps;
  /* 2 */
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0 0 1em 0;
}

/**
 * Steps
 * 1. Incrementing counter
 */
/*li*/
.steps__item {
  counter-increment: steps;
  /* 1 */
  background: #EFEFEF;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  float: left;
  position: relative;
  white-space: nowrap;
  /**
   * Defining step width depending on the number of steps
   */
  /**
   * Arrow shapes
   */
  /**
   * Small width stuff kids
   */
}
.steps__item:first-child:nth-last-child(1), .steps__item:first-child:nth-last-child(1) ~ .steps__item {
  width: 100%;
}
.steps__item:first-child:nth-last-child(2), .steps__item:first-child:nth-last-child(2) ~ .steps__item {
  width: 50%;
}
.steps__item:first-child:nth-last-child(3), .steps__item:first-child:nth-last-child(3) ~ .steps__item {
  width: 33.33333%;
}
.steps__item:first-child:nth-last-child(4), .steps__item:first-child:nth-last-child(4) ~ .steps__item {
  width: 25%;
}
.steps__item:first-child:nth-last-child(5), .steps__item:first-child:nth-last-child(5) ~ .steps__item {
  width: 20%;
}
.steps__item:first-child:nth-last-child(6), .steps__item:first-child:nth-last-child(6) ~ .steps__item {
  width: 16.66667%;
}
.steps__item:first-child:nth-last-child(7), .steps__item:first-child:nth-last-child(7) ~ .steps__item {
  width: 14.28571%;
}
.steps__item:first-child:nth-last-child(8), .steps__item:first-child:nth-last-child(8) ~ .steps__item {
  width: 12.5%;
}
.steps__item:first-child:nth-last-child(9), .steps__item:first-child:nth-last-child(9) ~ .steps__item {
  width: 11.11111%;
}
.steps__item:first-child:nth-last-child(10), .steps__item:first-child:nth-last-child(10) ~ .steps__item {
  width: 10%;
}
.steps__item:after {
  width: 1.85616em;
  height: 1.85616em;
  position: absolute;
  top: 0.35355em;
  left: 100%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  content: '';
  z-index: 2;
  background: inherit;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin-left: -0.92808em;
}
.steps__item[disabled] {
  cursor: not-allowed;
}
@media (max-width: 767px) {
  .steps__item {
    width: 100% !important;
    border: 1px solid #ccc;
    border-bottom: none;
    padding: 1em 0;
  }
  .steps__item:after {
    content: none;
  }
}

/**
 * Left border on first item
 */
.steps__item--first {
  border-left: 1px solid #ccc;
}

/**
 * Right border on last item
 */
.steps__item--last {
  border-right: 1px solid #ccc;
  /**
   * No left arrow on first item
   * No right arrow on last item
   */
}
@media (max-width: 767px) {
  .steps__item--last {
    border-bottom: 1px solid #ccc;
  }
}
.steps__item--last:after {
  content: none;
}

/**
 * Step link
 */
/*a|span*/
.steps__link {
  -webkit-transition: .25s ease-out;
          transition: .25s ease-out;
  color: #999;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 0.5em 0;
  /**
   * Counter
   */
  /**
   * Hover stuff
   */
}
.steps__link:before {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  content: counter(steps);
  text-align: center;
  background: #BCBCBC;
  border-radius: 50%;
  color: white;
  margin: 0 1em;
  line-height: 1.5em;
}
:not([disabled]) > .steps__link:hover, :not([disabled]) > .steps__link:focus {
  color: #333;
}
@media (max-width: 767px) {
  .steps__link:before {
    float: left;
    margin-right: 0;
  }
}

/**
 * Active state
 */
/*a*/
.steps__item--active {
  background: #FFF;
}

/**
 * Change link colors
 */
.steps__item--done .steps__link,
.steps__item--active .steps__link {
  color: #333;
}
.steps__item--done .steps__link:before,
.steps__item--active .steps__link:before {
  background: #22a4bc;
}

/**
 * Fallback for IE 8
 * Require Modernizr
 */
/*html*/
.no-csstransforms {
  /*li*/
}
.no-csstransforms .steps__item {
  border-right: 1px solid #ccc;
}
.no-csstransforms .steps__item:after {
  content: none !important;
}

/**
 * Fallback for IE 7
 * Require Modernizr
 */
/*html*/
.no-generatedcontent .steps {
  list-style-position: inside;
  list-style-type: decimal;
}
.no-generatedcontent .steps__link:before {
  content: none;
}


/* video */

.video {
  padding: 2% 18%;
}

/*  cursos */

.prerequisitos {
  padding: 10% 20%;
}

.prueba {
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  border: transparent;
  margin: 2% 0;
}

button.prueba:focus {
  outline: none;
}

button[disabled] {
  cursor: not-allowed;
}

/*unidades*/

a:hover, a:focus {
    color: transparent;
    /* text-decoration: underline; */
}
.unidades{
    padding: 58px 30px 20px 30px;
    min-height: 100%;
}

.thumbnail{ 
  padding: 0;
  margin: 30px 0 20px 0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    position: relative;
    border: 1px solid transparent;
    background: #FBF5EF;
    border-radius: 8px;    
}
.thumbnail:before{
  background:url(../img/background.jpg) left no-repeat;
    background-size: cover;
    opacity: 0.3;
    height:120px;
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.thumbnail:after{
  background-color: #F7B617;
  content: "";
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: block;
    height: 120px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0.7;
}
.thumbnail .caption{
      padding: 115px 40px 20px 40px;

}

.content-img {
  left: 50%;
    position: absolute;
    display: block;
    height: 140px;
    padding: 0.2em;
    z-index: 2;
    width: 130px;
    top: -23px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;

}
.content-img:hover{
  top: -10px;

}

.caption h3{
     color: #F9A91A;
}

.btn{
  white-space: normal; 
  padding: 0; 
}
