
/*unidades*/

a:hover, a:focus {
  color: transparent;
}
.unidades{
  min-height: 80.5%;
}

.thumbnail{ 
  padding: 0;
  margin: 30px 0 20px 0;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  position: relative;
  border: 1px solid transparent;
  background: #FBF5EF;
  border-radius: 8px;    
}
.thumbnail:before{
  background:url(../img/background.jpg) left no-repeat;
  background-size: cover;
  opacity: 0.3;
  height:120px;
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.thumbnail:after{
  background-color: #F7B617;
  content: "";
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: block;
  height: 120px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0.7;
}
.thumbnail .caption{
  padding: 115px 40px 20px 40px;

}
.content-img {
  left: 50%;
  position: absolute;
  display: block;
  height: 140px;
  padding: 0.2em;
  z-index: 2;
  width: 130px;
  top: -23px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;

}
.content-img:hover{
  top: -10px;

}
.caption h3{
  color: #F9A91A;
}
.btn{
  white-space: normal; 
  padding: 0; 
}